@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f4f4;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  display: flex;
  width: 1200px;
  margin: auto;
}

.analytics-section {
  width: 100%;
  padding: 20px;
}

.analytics-header {
  background: white;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: rgb(43, 43, 43);
  text-transform: uppercase;
}

.analytics-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  background: #fff;
  padding: 20px;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h2 {
  font-size: 18px;
  color: rgb(85, 83, 83);
  margin-bottom: 10px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  color: blueviolet;
}

.logout {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: red;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
